@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin basik-button() {
  padding: 10px 0;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
}

@mixin basik-title() {
  margin: 0;

  font-family: $seccond-font;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

@mixin catalog__title {
  font-family: $seccond-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media ($viewport-tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  @media ($viewport-desktop) {
    font-size: 40px;
    line-height: 40px;
  }
  padding: 0 0 32px;

  box-sizing: border-box;
  display: flex;
  min-height: 86px;
  align-items: center;
  column-gap: 40px;
  margin: 0;

  // Надо ли пускать до самого небалуй
  @media ($viewport-tablet) {
    padding: 0;
    padding-bottom: 80px;

    min-height: 112px;

    &::before {
      content: "";
      display: flex;
      height: 2px;
      width: 30px;
      background-color: #68b738;
      // Переиграть. попбробовать с позициями. пока оставть
    }

    @media ($viewport-desktop) {
      &::before {
        width: 70px;
      }
    }
  }

  &::after {
    content: "";
    display: flex;
    height: 2px;
    flex-grow: 1;
    background-color: #68b738;
  }
}

.additional-products__wrapper {
  @media ($viewport-desktop) {
    display: flex;
    column-gap: 80px;
  }
}

