.form-container {
  box-shadow: inset 0 1px 0 0 #d9d9d9;

  padding-top: 27px;
  padding-bottom: 20px;

  @media ($viewport-tablet) {
    box-shadow: none;
  }
}

.form-container__title {
  padding: 0 20px;

  @media ($viewport-tablet) {
    padding: 0 70px;
  }
}

.form-container__description {
  margin: 37px 0 39px;
  padding: 0 20px;

  font-family: $seccond-font;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  text-transform: uppercase;

  color: #000000;


  @media ($viewport-tablet) {
    margin: 54px 0 66px;
    padding: 0 70px;

    font-size: 20px;
    line-height: 30px;
  }
}
