.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.hero__description {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.hero__button {
  @include basik-button ();
}
